.calendarGameEvent
{
    background: transparent !important;
    border: none;
    color: #4B4B57;
    cursor: pointer !important;
}
.calendarGameDay 
{
    background-color: #C2C0BF;
}
.calendarGameDayReq
{
    background-color: #FFF68F;
    cursor: pointer;
}
.calendarGameDayReqHover
{
    border: dotted 2px #4B4B57;
    margin: -2px;
}
.calendarNonGameDay 
{
    background-color: white;
}
.calGameWrapper 
{
    position: absolute;
    top: -24px;
    left: 0px;
    width: 100%;
    display: inline-block;
}
.calGevLogo
{
    position: absolute;
    top: 2px;
    left: 2px;
}
.calGevTitle 
{
    width: 100%;
    padding-top: 15px;
    position: relative;
}
.calGevLc 
{
    float: left; width: 100%;
}
.calGevLcContent 
{
    width: 98%; margin: 0 auto;
    font-size: 1.7em;
    text-align: right;
}
.calGevRc 
{
    float: left; width: 0%;
}
.calGevRcContent 
{
    width: 98%; margin: 0 auto;
}
.calGevBot 
{
    margin-top: 1px;
    border-top: dotted 1px #4B4B57;
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    left: 0;
    background-color: rgba(75, 75, 87, 0.9);
}
.calGevReqByLbl 
{
    font-size: .8em;
    margin-top: 3px;
    color: #C2C0BF;
}
.calGevReqBy 
{
    color: #C6D0D9;
}
.calGevPromosLbl 
{
    font-size: .9em;
    color: #C2C0BF;
}
.calGevPromos 
{
    color: #C6D0D9;
}
.calGevPromoItem
{
    line-height: 10px;
}
.calGevLogoContainer 
{
    text-align: center;
}
.calGevLogo 
{
    
}
.fc-day-header 
{
    color: #C6D0D9 !important;
}
.gameTooltip 
{
    min-width: 400px !important;
    max-width: 400px !important;
    width: 400px !important;
    background-color: #C2C0BF !important;
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
}
.calGameTipTitle 
{
    font-size: 1.2em;
    width: 100%;
    font-weight: 900;
    text-align: center;
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: dotted 2px #4B4B57;
    line-height: 15px;
}
.calGameTipBody 
{
    width: 100%;
}
.calGameBodyName 
{
    padding-bottom: 2px;
    font-weight: 900;
}
.calGameBodyVal
{
    padding-bottom: 7px;
}