html 
{
    overflow-y: scroll;
    background-color: #C6D0D9;
}
html,body
{
    margin:0;
    padding:0;
    border:0;
    font-family: Lucida Sans Unicode, serif;
    color: #37424A;
}

.submit 
{
    display: inline-block;
    background-color: #C2C0BF;
    width: 100%;
    line-height: 50px;
    font-size: 1.8em;
    text-align: center;
    color: #212126;
    border: 1px dotted #212126;
    border-top: none;
}
.submitHighlight 
{
    background-color: #FFF68F !important;
    color: #212126 !important;
}

.maxBlockLbl 
{
    font-size: .9em !important;
}

.maxBlockLblInvalid 
{
    color: Red !important;
}

#pageWrapper 
{
    width: 1100px;
    margin: 0 auto;
}

#divHeader 
{
    background-color: #4B4B57;
    border-bottom: dotted 1px #212126;
    width: 100%;
    color: #C6D0D9;
    font-size: 1.1em;
    line-height: 20px;
    border-radius: 12px 3px 3px 3px;
}
#divHeader a:link {color:#FFF68F; font-style: normal; text-decoration: none;}
#divHeader a:visited {color:#FFF68F; font-style: normal; text-decoration: none;}
#divHeader a:hover {color:#C6D0D9; font-style: normal; text-decoration: none;}
#divHeader a:active {color:#FFF68F; font-style: normal; text-decoration: none;}

#helpContainer 
{
    background-color: #C6D0D9 !important;
}

#unpwContainer 
{
    background-color: #C6D0D9 !important;
}

#copyClipboardContainer 
{
    background-color: #4B4B57;
}

.userImpersonate 
{
    background-color:#C6D0D9 !important;
    color: #212126 !important;
}

#mainContent 
{
    background-color: white;
    height: 100%;
}

.headerButton 
{
    padding-left: 13px;
}

.pageHeader 
{
    background-color: #C6D0D9;
    padding-top: 7px;
    color: #4B4B57;
    letter-spacing: -2px;
    font-size: 1.4em;
    text-transform: uppercase;
}

.pageHeaderLgd 
{
    font-weight: 100 !important;
    letter-spacing: -2px !important;
    font-size: 1.0em !important;
    text-transform: uppercase !important;
}

.iconButtonTipContent .qtip-content
{
    background-color: #FFF68F;
    color: #4B4B57;
    font-size: 1.2em;
}

#pgOverlay
{
    background-color: rgba(0, 0, 0, 0.7);
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
    display: none;
}
#pgOverlayImg 
{
    position: absolute;
    z-index: 101;
    display: none;
}

#alertOverlay 
{
    background-color: rgba(75, 75, 87, 0.95);
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:200;
    display: none;
}
#alertModal 
{
    display: none;
    width: 500px;
    height: 230px;
    z-index: 201;
    color: White;
}
#alertModal .alertContent
{
    background-color: #4B4B57;
}

.invalidMsg 
{
    min-height: 100px;
    margin: 10px 10px 10px 10px;
}
div.invalidMsg:before
{
    content:url(../images/next_16_off.png);
    padding-right: 10px;
}

.alertMsg 
{
    color: #BF0000;
    text-transform: uppercase;
}

@media only screen and (device-width: 768px),
       only screen and (max-width: 768px) {
/* CSS */

    #pageWrapper { width: 92%; padding: 15px; }
    .leftMainCol, .rightMainCol, .section, .calContainer, .errorWrapper, .errorWrapper > fieldset, .errorWrapper .errorText, #divErr {width: 100% !important;}
    #divHeader {-moz-border-radius: 12px; -webkit-border-radius: 12px; -o-border-radius: 12px; -ms-border-radius: 12px; border-radius:12px; line-height: normal; width: 89%; padding: 15px; margin: 0;}
    #divHeader div.logo-login-logout, #divHeader div.actions {float:none !important; display:block; width: 100%;padding:0px !important;margin:0}
    #divHeader div.logo-login-logout {padding-bottom: 10px !important; margin-bottom: 25px; border-bottom: 1px dashed #898989; } 
    .sectionContent {-moz-border-radius: 6px;-webkit-border-radius:6px;-o-border-radius: 6px; -ms-border-radius:6px; border-radius:6px; padding: 6px;}   
    .ui-jqgrid .ui-jqgrid-htable {width: 100% !important;}
    #masterCal, .fc-view-container { max-width: 100% !important; width: 100% !important; }
    #mainContent {margin-top: 15px; }
    #helpContainer, #unpwContainer { width: 89% !important;  height: auto !important;}
    #resultsWrapper {width: 100% !important; position: relative; left: auto; top: auto; z-index: 1;}
}

@media only screen and (device-width: 768px) 
{
    #divHeader {width:95%;}
    .ui-jqgrid .ui-jqgrid-htable {width: 100% !important;}
}

@media only screen and (device-width: 1024px)
{
    #pageWrapper { width: 92%; padding: 15px; }
    #divHeader {-moz-border-radius: 12px; -webkit-border-radius: 12px; -o-border-radius: 12px; -ms-border-radius: 12px; border-radius:12px; line-height: normal; width: 97%; padding: 15px; margin: 0; margin-bottom: 25px;}
    .leftMainCol, .rightMainCol { width: 48%; padding-right: 15px; }
    .rightMainCol { padding-left: 15px; padding-right:0; }
    .leftMainCol .section, .rightMainCol .section { width: 100%; }
    .clbgroup label, .clbentry label, .clbtype label, .filterContainer label, .filterWrapper label { font-size: 16px !important; }
    .clbgroup select, .clbentry select, .clbtype select, .filterContainer select, .filterWrapper select { padding: 8px !important;   font-size: 16px !important; text-transform: uppercase;}
    #resultsWrapper {width: 100% !important; position: relative; left: auto; top: auto; z-index: 1;}
}